@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --primary-color: #04D361;
    --buttom-color: #fd951f;
    --bg-color: #383F57;
    --text-color: #f0f0f5;
    --light-color: rgba(255, 255, 255, 0.04);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;

    width: 100vw;
    height: 100vh;


    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}

p{
    position: fixed;
    bottom: 0;
    font-size: small;
}
p a{
    color: #fd951f;
    cursor: pointer;
    text-decoration: none;
}

#back{
    margin-bottom: 5%;
}


form{
    background: rgba(56, 63, 87, 0.74);

    width: 100%;
    max-width: 500px;

    margin: 32px auto;
    padding: 32px 54px;

    display: flex;
    flex-direction: column;
}

form h2{
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 20%;
}

div.style_input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* box */
    width: 100%;

    padding: 16px 0;

    border:none;
    border-bottom: 1px solid var(--primary-color);

    background-color: transparent;

    outline: none;

    /* text */
    color: var(--text-color);
    font-size: 1em;

}

button {
    margin-top: 16px;
    background-color: var(--buttom-color);
    border-bottom: 1px solid var(--buttom-color);
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition-duration: 1.2s;
    cursor: pointer;
}
button:hover {
    background-color: #fd951fa9;
}
#back{
    min-width: 20vw;
    width: 40vw;
    max-width: 80vw;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: rgba(255, 255, 255, 0.6) ;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

.table{
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
    align-content: center;
    justify-content: space-around;
    justify-content: center;

    text-align: center;
    font-size: medium;
}

.table button{
    margin: 5% 0;
}

table td a{
    min-width: max-content;
    max-width: 60vh;
    width: max-content;
    height: max-content;
    white-space: nowrap;
}

.table h2{
    font-size: large;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 10% 0;
    min-width: 50%;
    max-width: 80%;
}
.table h2 span{
    letter-spacing: 1.2px;
    color: var(--primary-color);
}

table tr{
    display: grid;
    grid-template-areas: "num rep";
    grid-template-rows: none;
    grid-template-columns: 20% 80%;

    margin-top: 4%;
}

.table table tr > th{
    color: var(--primary-color);
    letter-spacing: 2px;
}

.table table tr > th,
.table table tr td.num{
    padding: 5% 20px;
}

.titleNum,
.num{
    grid-area: num;
    align-self: center;
    justify-self: center;
}
.titleRep,
.nomeRepositorio{
    grid-area: rep;
    align-self: center;
    justify-self: center;
}

.table table tr td.num{
    color: var(--buttom-color);
}
td.nomeRepositorio{
    grid-area: rep;
    text-align: start;
    padding: 0 0 0 2%;
    font-size: medium;
    min-width: 40%;
    width: max-content;
    max-width: 70%;
}
.table table tr td a{
    color: var(--text-color);
    text-decoration: none;
}

@media (max-width: 600px){

    .table{
        max-width: 90vw;
        flex-wrap: wrap;
        font-size: small;
    }
    .table table{
        max-width: 90vw;
    }
    table tr{
        grid-template-areas: ". num rep .";
        grid-template-rows: none;
        grid-template-columns: 4% 20% auto 4%;
    
        margin-top: 4%;
    }
    
    .nomeRepositorio{
        white-space: normal;
    }
}